doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            -const home = { label : 'Home', href: '/catalog' }
            -const allBooks = { label : 'All books', href: '/catalog/books' }
            -const allAuthors = { label : 'All authors', href: '/catalog/authors' }
            -const allGenres = { label : 'All genres', href: '/catalog/genres' }
            -const allBookinstances = { label : 'All book-instances', href: '/catalog/bookinstances' }
            -const links = [home, allBooks, allAuthors, allGenres, allBookinstances]
            each link in links
                li.nav-item
                  a.nav-link.active(aria-current='page' href=link.href) #{link.label}

            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                |Admin links
              ul.dropdown-menu(aria-labelledby='navbarDropdown')
                -const newAuthor = { label: 'Create new author', href: '/catalog/author/create' }
                -const newGenre = { label: 'Create new genre', href: '/catalog/genre/create' }
                -const newBook = { label: 'Create new book', href: '/catalog/book/create' }
                -const newBookinstance = { label: 'Create new bookinstance', href: '/catalog/bookinstance/create' }
                -const adminLinks = [newAuthor, newGenre, newBook, newBookinstance]
                each link in adminLinks
                    li
                      a.dropdown-item(href=link.href) #{link.label}

          form.d-flex
            input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
            button.btn.btn-outline-success(type='submit') Search

    .container
      block content

    .footer
      footer
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")
